<!-- Sidebar  -->
<div class="iq-sidebar">
  <div class="iq-sidebar-logo d-flex justify-content-between">
    <a routerLink="/" class="header-logo">
      <img src="images/logo.png" class="img-fluid rounded-normal" alt="" />
      <div class="logo-title">
        <span class="text-primary text-uppercase">Vegetable - USer</span>
      </div>
    </a>
  </div>
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li class="active-menu">
          <a routerLink="/" class="iq-waves-effect">
            <span class="ripple rippleEffect"></span>
            <i class="las la-home iq-arrow-left"></i>
            <span>Home Page</span>
            <i class="ri-arrow-right-s-line iq-arrow-right"></i>
          </a>
        </li>
        <li>
          <a
            href="#ui-elements"
            class="iq-waves-effect collapsed"
            data-toggle="collapse"
            aria-expanded="false"
            ><i class="lab la-elementor iq-arrow-left"></i
            ><span>Categories</span
            ><i class="ri-arrow-right-s-line iq-arrow-right"></i
          ></a>
          <ul
            id="ui-elements"
            class="iq-submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li class="elements" *ngFor="let item of categories">
              <a
                [routerLink]="['/category/', item.id]"
                class="iq-waves-effect collapsed"
              >
                <i class="ri-play-circle-line"></i>
                <span>{{ item.name }}</span
                ><i class="ri-arrow-right-s-line iq-arrow-right"></i
              ></a>
            </li>
          </ul>
        </li>
        <li class="active-menu">
          <a routerLink="/product" class="iq-waves-effect">
            <span class="ripple rippleEffect"></span>
            <i class="ri-play-circle-line"></i>
            <span>Product</span>
            <i class="ri-arrow-right-s-line iq-arrow-right"></i>
          </a>
        </li>
        <li class="active-menu" *ngIf="userData?.id">
          <a routerLink="/favourite" class="iq-waves-effect">
            <span class="ripple rippleEffect"></span>
            <i class="ri-play-circle-line"></i>
            <span>Favourite</span>
            <i class="ri-arrow-right-s-line iq-arrow-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- Sidebar END  -->
